.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.movie-container {
  width: min-content;
}

.poster {
 height: 1000px;
 width: 600px;
 object-fit: cover;
}

body {
  display: flex;
  justify-content: center;
  margin: 10px;
}